.winners {
  display: flex;
  justify-content: space-around;
}

.house {
  text-align: center;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.discoverers {
  background-color: #f2f500;
}

.voyagers {
  background-color: #00aaff;
}

.explorers {
  background-color: #12bf25;
}

.pioneers {
  background-color: #f72e03;
}
